.contact-content{
    height: 75vh;

    margin-top: 10px;
}
.navigation{
    display: none;
}
.contact-content h2{
padding: 2px 20px;
}
.contact-content::before{
    content: "";
    background-image: url('../images/contctBg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 0;
    width: 80vw;
height: inherit;
    opacity: 0.5;
    position: absolute;
    z-index: -1;
}
.footer{
    height: 550px;
    top: 50px;
}
.contact-form{
    display: flex;
    align-items: center;
    flex-direction: column;
  
}
